.audio a {
  color: rgb(130, 124, 118);
}

.audio a:hover {
  color: rgba(0, 0, 0, 0.723);
}
.meaning {
  background-color: rgba(243, 235, 225, 0.535);
  border-radius: 4px;
  margin: 0 auto 5px;
  max-width: 960px;
}
